<% provide(:title, @application.user.name) %>

<% if current_user.admin? %>

    <h3>User: </h3><%=@application.user.name%><br>
    <h3>Job applied: </h3><%=@application.job.title%>
        <%= form_with(model: @application.user.comments.build, local: true) do |f| %>
            <%= hidden_field_tag :job_id, @application.job_id%>
            <%= hidden_field_tag :user_id, @application.user_id%>
            <div><%= text_area_tag :content, "" %></div>
            <%= f.submit "Comment!", class: "btn btn-success" %>
        <% if @all_comments %>
            <% @all_comments.each do |comment| %>

            <%= comment.content %>  
            
            <% end %>
            <% end %>
        <% end %>
<% else %>
<div class="card">
  <div class="card-header">
    <%=@application.user.name%>
  </div>
  <div class="card-body">
    <p class="card-text">
    <h4>You have applied to:</h4><%=@application.job.title%>
    <h4>Currently you are in the stage: </h4> 
    <% if @application.active == true%>
        <%= @application.stage.name %>
    <% else %>
        Your application has been rejected
    <% end %>

</p>
  </div>
</div>
<% end %>




  

 
 
