<% provide(:title, @application.user.name) %>

<% if current_user.admin? %>

    <h2>User: </h2><%=@application.user.name%><br>
    <h2>Job applied: </h2><%=@application.job.title%>
        <%= form_with(model: @application.user.comments.build, local: true) do |f| %>
            <%= hidden_field_tag :job_id, @application.job_id%>
            <%= hidden_field_tag :user_id, @application.user_id%>
            <div><%= text_area_tag :content, "" %></div>
            <%= f.submit "Comment!", class: "btn btn-success" %>
        <% if @all_comments %>
            <% @all_comments.each do |comment| %>
            <li>
            <%= comment.content %>  
            </li>
            <% end %>
            <% end %>
        <% end %>
<% else %>
<h2>Hello: </h2><%=@application.user.name%><br>
<h2>You have applied to: </h2><%=@application.job.title%>
<h2>Currently you are in the stage: </h2> 
<% if @application.active == true%>
<%= @application.stage.name %>
<% else %>
Your application has been rejected
<% end %>
<% end %>


  

 
 
