<% provide(:title, @application.user.name) %>

<% if current_user.admin? %>

  <div class="card">
    <div class="card-header">
      <h3>Candidate: <%=@application.user.name%><br></h3>
    </div>
    <div class="card-body">
      <p class="card-text">
        <h3>Job applied: <%=@application.job.title%></h3>
          <%= form_with(model: @application.user.comments.build, local: true) do |f| %>
              <%= hidden_field_tag :job_id, @application.job_id%>
              <%= hidden_field_tag :user_id, @application.user_id%>
              <div><%= text_area_tag :content, "" %></div>
              <%= f.submit "Comment!", class: "btn btn-success" %>
  </div>
        <% if @all_comments %>
        <div class="card">
          <div class="card-header">
            <h4>Comments:</h4>
          </div>
          <div class="card-body">
            <p class="card-text">
              <% @all_comments.each do |comment| %>
                  - <%= comment.content %><br>
              <% end %>
            </p>
          </div>
        </div>
            
            <% end %>
        <% end %>
<% else %>
<div class="card">
  <div class="card-header">
    <%=@application.user.name%>
  </div>
  <div class="card-body">
    <p class="card-text">
    <h4>You have applied to:</h4><%=@application.job.title%>
    <h4>Currently you are in the stage: </h4> 
    <% if @application.active == true%>
        <%= @application.stage.name %>
    <% else %>
        Your application has been rejected
    <% end %>

</p>
  </div>
</div>
<% end %>




  

 
 
