<div class="card">
  <div class="card-header"><h4>Resend unlock instructions</h4></div>
  <div class="card-body">
    <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, class:"form-control", autofocus: true, autocomplete: "email" %>
      </div>

      <div class="actions">
        <%= f.submit "Resend unlock instructions" , class:"btn btn-primary btn-lg btn-block" %>
      </div>
    <% end %>
  </div>
</div>
<br/>

<%= render "devise/shared/links" %>
