<% provide(:title, 'All Jobs') %>
<h1>All Jobs</h1>
<% if user_signed_in? %> 
  <% if current_user.admin?%>
  <button type="button" class="btn btn-success">
   <%= link_to 'Create Job', new_job_path %>
  </button>
  <% end %>
  <% end %><br>

<%= form_with url: "/search_jobs", method: :get do |form| %>
  <%= form.text_field :content, placeholder: "Search job..." %>
   <%= form.submit "Search", class: "btn btn-primary" %>
<% end %>
<br>

<%= paginate @jobs, window: 1 %>
<ul class="jobs">
  <% @jobs.each do |job| %>
   <div class="card">
  <h3><div class="card-header">
    <%=job.title%>
  </div></h3>
  <div class="card-body">
    <p class="card-text"><%=job.description%></p>
    <%= link_to "Go to work",  job_path(job.id),  class: "btn btn-primary" %>
  </div>
</div>
  <% end %>
</ul>
<%= paginate @jobs, window: 1 %>

