
<% provide(:title, @job.title) %>
<div class="row">
    
    <section class="user_info">
        <h1>
            <%= @job.title %><br>    
        </h1>
        <h2>
            <%= @job.description %>
        </h2>
    </section>
    <aside class="col-md-4">
        <section>  
            <% if @job.stages.any? %>
                <div class="card" >
                    <div class="card-header">
                        <h4>Stages of the selection process</h4>
                    </div>
                    <ul class="list-group list-group-flush">
                        
                        <% @job.stages.each do |s| %>
                            <li>
                            <%= link_to s.name, s %>
                            </li>
                        <% end %>
                        
                    </ul>
                </div>
                <br/>
            <% end %>
        </section>
    </aside>
</div>
<div class="row">    
    <% if current_user.admin? %>
        <%#Manage jobs and applications%> 
        <%= link_to "Manage",  "#" , class: "btn btn-info" %>
    <% else %>
        <%#Could apply%> 
        <%if !current_user.applied?(@job)%>
        <%= form_with(model: current_user.applications.build, local: false) do |f| %>
            <div><%= hidden_field_tag :job_id, @job.id %></div>
            <%= f.submit "Apply now!", class: "btn btn-success" %>
        <% end %>
        <% else %>
            <button type = "button" class= "btn btn-secondary" disabled> You have already applied to this job </button>
        <% end %>
    <% end %>
</div>

