<% provide(:title, 'All users') %>
<h1>All users</h1>

<%= paginate @users, window: 1 %>

  <% @users.each do |user| %>
  <div class="card">
      <h5 class="card-header"><%= link_to user.name, user %></h5>
      <div class="card-body">
        <h5 class="card-title"><%= user.email %></h5>
        <p class="card-text"><%= user.description%></p>
        <% if current_user.admin? %>
          <button type="button" class="btn btn-success">
          <%= link_to 'Edit user', edit_user_path(user.id)%>
          </button>
        <% end %>
      </div>
    </div>
    <br>
      <% end %>
    
  
<%= paginate @users, window: 1 %>