<% provide(:title, @user.name) %>
  <h2>Name:<%= @user.name %><br><br>
      E-Mail:
      <%= @user.email %><br><br>
      <% if !current_user.admin?%>
      Description:
      <%= @user.description %></h2><br><br>
      <%end%>

    <% if current_user.admin? && current_user!= @user && @user.jobs.empty?%>
          <h1> Currently, this user don't have open positions </h1>
    <% elsif current_user.admin? && current_user!= @user && !@user.jobs.empty?%>
         
        <h1> This user have applied to </h1>
          <% @user.applications.each do |app| %>
              <li>
              <%= link_to app.job.title, app%>
              </li>
          <% end %>
    <% elsif !current_user.admin? && current_user == @user%>
        <% if !@user.jobs.empty?%>
          <h1> You have applied to </h1>
          <% @user.applications.each do |app| %>
          <li>
          <%= link_to app.job.title, app%>
          </li>
          <% end %>    
        <% else %>
        <h1> Currently, you don't have open positions </h1>
        <% end %>
    <% end %>


